:root {
  --primary-color: #f7c548;
  --secondary-color: #eeebd3;
  --accent-color: #255957;
  --primary-action: #b52d6d;
  --interact-color: #b52d6d;
  --secondary-interact-color: #8fcc49;
  --text-light-contrast: white;
  --text-dark-contrast: black;
  --section-background: #a98743;
  --card-background-dark: #437c90;
}

@keyframes rotate-in-left {
  from {
    transform-origin: left bottom;
    transform: rotate(90deg);
    opacity: 0;
  }
  to {
    transform-origin: left bottom;
    transform: rotate(0);
    opacity: 1;
  }
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.headshot-container.in-view {
  animation: fade-in-down 1.5s linear 0.5, float 2.5s ease-in-out infinite;
}

body {
  font-family: "Roboto Mono", sans-serif;
  margin: 0px;
}

.header {
  height: 100vh;
  background-color: var(--secondary-color);
  /* background-image: url("images/rogueTerminal.png"); */
  background-position: right;
  background-repeat: no-repeat;
  color: var(--text-dark-contrast);
  font-size: 40px;
  font-family: "Rubik", sans-serif;
}

footer {
  display: flex;
  justify-content: space-evenly;
  height: 10dvh;
  padding: 10px;
  background-color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  background-color: var(--primary-color);
  box-shadow: 2px 2px 5px grey;
  z-index: 100;
  position: sticky;
  top: 0;
  font-family: "Rubik", sans-serif;
}

nav a {
  color: var(--text-dark-contrast);
  position: relative;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 50%;
  left: -0.5rem;
  right: calc(100% + 0.5rem);
  background-color: rgba(181, 45, 109);
  box-shadow: 2px 2px 3px var(--interact-color);
  transition: 300ms ease-in-out;
  z-index: -1;
}

nav a:hover::after {
  /* color: var(--interact-color); */
  /* text-decoration-line: line-through;
  text-decoration-color: var(--interact-color); */
  right: -0.5rem;
}

ul {
  display: flex;
  list-style-type: none;
  width: 600px;
  justify-content: space-around;
  font-size: 25px;
}

ul.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
  align-self: center;
  padding-inline: 10px;
  height: 13dvh;
}

li {
  text-decoration: none;
}

h1 {
  font-size: 90px;
  margin: 0px;
}

h2 {
  font-size: xx-large;
}

h3 {
  font-size: xx-large;
}

p {
  /* margin: 0px 0px 60px; */
  font-weight: 400;
  font-optical-sizing: auto;
  font-size: x-large;
  line-height: 40px;
}

a {
  text-decoration: none;
  color: var(--interact-color);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

input,
textarea {
  margin-block: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

input {
  height: 1.5rem;
}

button {
  width: 5rem;
  height: 1.5rem;
  border-radius: 0.2rem;
  align-self: flex-start;
}

.bio {
  font-size: 1.5rem;
  width: 60dvw;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: var(--card-background-dark);
  width: 40%;
  border-radius: 1.5rem;
}

.form-inputs {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.socials-footer {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  align-self: center;
}

.header-text {
  font-family: "Rubik", sans-serif;
  margin-left: 50px;
  margin-bottom: 100px;
}

.header-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  border: 5px solid var(--primary-action);
  border-radius: 15px;
  padding: 10px;
  color: var(--text-dark-contrast);
  transition: background-color 0.5s ease-out;
}

.header-button:hover {
  background-color: var(--interact-color);
}

.header-button:active {
  background-color: var(--text-light-contrast);
}

.header-container {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.socials {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  margin-right: 10px;
}

#socials-header svg {
  fill: black;
  transition: fill 0.8s ease-out;
}

#socials-header svg:hover {
  fill: var(--interact-color);
}

.about-me {
  display: flex;
  justify-content: space-around;
  padding: 80px;
  background-color: var(--accent-color);
  font-family: "Rubik", sans-serif;
}

.how-i-work {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Rubik", sans-serif;
  /* padding: 80px; */
  /* background-color: var(--primary-color); */
}

.section-image-container {
  display: flex;
  align-items: center;
  width: 20dvw;
}
.section-img {
  width: 100%;
}
.howiwork-text {
  align-self: center;
  width: 50dvw;
}

.howiwork-container1,
.howiwork-container3 {
  flex-direction: row-reverse;
}
.howiwork-container2,
.howiwork-container4 {
  flex-direction: row;
}

.howiwork-container1,
.howiwork-container2,
.howiwork-container3,
.howiwork-container4 {
  display: flex;
  padding-block: 20px;
  justify-content: space-evenly;
}

.howiwork-container1 {
  background-color: var(--primary-color);
}

.howiwork-container2 {
  background-color: var(--secondary-color);
}

.howiwork-container3 {
  background-color: var(--section-background);
}
.howiwork-container4 {
  background-color: var(--accent-color);
}

.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  height: 50dvh;
  padding-block: 3%;
}

.divider1,
.divider2,
.divider3,
.divider4,
.divider5 {
  display: flex;
  margin-block: -0.5px;
}

.divider-img {
  width: 100%;
  object-fit: fill;
}

.divider1 {
  background-color: var(--secondary-color);
}

.divider3 {
  background-color: var(--primary-color);
}
.divider4 {
  background-color: var(--secondary-color);
}

.headshot {
  width: 100%;
  box-shadow: 10px 6px 10px#142e2e;
  border-radius: 120px;
  align-self: center;
}

.headshot-container {
  display: flex;
  flex-direction: column;
  width: 35dvw;
  align-self: center;
}

.info {
  padding: 20px;
  align-self: center;
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 1290px) {
  .header-text {
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .about-me {
    display: flex;
    flex-wrap: wrap-reverse;
    padding: 30px;
  }
  .socials-footer {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    align-self: center;
  }

  svg {
    width: 30px;
    height: 30px;
  }

  input {
    height: 1.5rem;
  }

  textarea {
    height: 5rem;
  }

  button {
    margin-block: 1rem;
  }

  .contact-form {
    height: 70dvh;
    padding-block: 10px;
  }

  .form {
    width: 80%;
    height: 70%;
    border-radius: 1rem;
    padding-block-end: 50px;
  }

  .contact-title {
    font-size: 30px;
  }

  .form-inputs {
    width: 100%;
    height: 80%;
  }
}

@media only screen and (max-width: 1025px) {
  .section-image-container {
    width: 30dvw;
    align-self: center;
  }

  .divider1,
  .divider2,
  .divider3,
  .divider4,
  .divider5 {
    display: flex;
    margin-block: -1px;
  }
  .contact-form {
    height: 70dvh;
    padding-block: 10px;
  }

  .form {
    width: 80%;
    height: 70%;
    border-radius: 1rem;
    padding-block-end: 50px;
  }
}

@media only screen and (max-width: 850px) {
  .howiwork-container1,
  .howiwork-container3,
  .howiwork-container2,
  .howiwork-container4 {
    flex-direction: column;
  }

  .section-image-container {
    width: 35dvw;
    align-self: center;
  }

  .howiwork-text {
    align-self: center;
    width: 70dvw;
  }
}

@media only screen and (max-width: 600px) {
  .hamburger {
    display: block;
    border: 0px;
    color: white;
    background-color: transparent;
    font-size: 30px;
    margin: 10px 0px;
    align-self: flex-end;
  }
  .bio {
    font-size: 1rem;
  }

  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }
  .socials {
    justify-content: space-between;
    flex-direction: row;
    margin-right: 0px;
    margin: 30px 0px 50px 0px;
    width: 90%;
    padding-bottom: 0px;
  }

  ul {
    display: none;
  }

  nav {
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
    background-color: var(--card-background-dark);
  }

  input {
    height: 1.5rem;
  }

  textarea {
    height: 5rem;
  }

  .form {
    width: 100%;
    border-radius: 0px;
  }

  .form-inputs {
    width: 100%;
  }
}

@media only screen and (max-width: 565px) {
  h1 {
    font-size: 50px;
    margin: 0px;
  }

  p {
    line-height: 30px;
  }

  .header-text {
    padding: 20px;
    margin: 0px;
  }
  .socials {
    margin-right: 0px;
  }

  .header-button {
    width: 175px;
    height: 45px;
  }

  hr {
    visibility: hidden;
  }

  input {
    height: 1.5rem;
  }

  textarea {
    height: 5rem;
  }

  .form {
    width: 100%;
    border-radius: 0px;
  }

  .form-inputs {
    width: 100%;
  }

  .headshot-container {
    width: 65dvw;
  }

  .howiwork-container1,
  .howiwork-container3,
  .howiwork-container2,
  .howiwork-container4 {
    flex-direction: column;
  }

  .section-image-container {
    width: 50dvw;
    align-self: center;
  }

  .howiwork-text {
    align-self: center;
    width: 70dvw;
  }
  .contact-form {
    height: 40dvh;
    padding-block: 10px;
  }

  .form {
    height: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }

  .socials {
    justify-content: space-between;
    flex-direction: row;
    margin-right: 0px;
    margin: 30px 0px 50px 0px;
    padding-bottom: 0px;
  }

  #socials-header svg {
    width: 40px;
    height: 40px;
  }

  h1 {
    font-size: 50px;
    margin: 0px;
  }

  p {
    font-size: large;
    line-height: 30px;
  }

  .header-text {
    padding: 20px;
    margin: 0px;
  }

  svg {
    width: 30px;
    height: 30px;
  }
  .header-button {
    width: 120px;
    height: 45px;
    margin-top: 40px;
    font-size: smaller;
  }

  hr {
    visibility: hidden;
  }

  input {
    height: 1.5rem;
  }

  textarea {
    height: 5rem;
  }

  .form {
    width: 100%;
    border-radius: 0px;
  }

  .form-inputs {
    width: 100%;
  }
  .howiwork-container1,
  .howiwork-container3,
  .howiwork-container2,
  .howiwork-container4 {
    flex-direction: column;
  }

  .section-image-container {
    width: 50dvw;
    align-self: center;
  }
  .headshot-container {
    width: 70dvw;
  }

  .howiwork-text {
    align-self: center;
    width: 70dvw;
  }

  .bio {
    width: 70dvw;
  }

  .contact-form {
    height: 45dvh;
    padding-block: 10px;
  }

  .form {
    height: 100%;
  }

  footer {
    justify-content: center;
    align-content: end;
    flex-wrap: wrap-reverse;
  }
  .socials-footer {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    align-self: center;
  }
}
